body {
  font-family: "Lato", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #383333;
  margin: 0;
  padding: 0;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #2facddcf;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 80px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #1e9591b4;
}

.lead {
  margin-bottom: 30px;
  text-align: center;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: background-color .6s;
}

.header.active {
  background-color: #3fb1ada0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.header-logo {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #fff;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  font-size: 13px;
  padding: 5px 0;
  letter-spacing: .1em;
  color: #ffffff;
}

.header-nav-item a:hover {
  opacity: .8;
}


/*--------------------------------
 メインビジュアル
---------------------------------*/
.main-visual-img {
  height: 700px;
  background-image: url(jibun.jpg);
  background-position: center center;

}

.sub-main-visual-img {
  height: 180px;
  background-image: url(jibun.jpg);
  background-position: center center;

}

/*--------------------------------
 プロフィール
---------------------------------*/
.profile {
  padding: 50px 0;
}

.profile-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #9530e290;
}

.profile-text {
  max-width: 500px;
  margin: 0 auto;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #444b4b;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #414b4b9b;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
}


/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  display: block;
  margin: 0 20px;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #6c84819e;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #37a09471;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #4c5945;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 50px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 20px;
  text-align: center;
}

.article-img {
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
  ;
}